# backup
src-backup/

# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
run_2/
run_server/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
*.log
_dirs_clean.txt
_java_clean.txt
_java_diff.txt
_res_clean.txt
cfr.jar
pem.txt
pemdir/
pemdir2/
examples/
